$blue-main: #03A0E8;
$blue-main--hover: #0098DE;
$bluedark-main: #000850;
$red-main: #E44233;
$yellow-main: #FDCB42;
$medium-gray: #B7B7BF;
$lightgray-text: #C2C2CA;
$lightgray-main: #D7D7D7;
$headline-gray: #6F7D97;