.form__image {
  width: 491px;
  height: 494px;
  margin-left: 12px;
  user-select: none;
}

.start-modal__container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1270px){
  .start-modal__container {
    box-sizing: border-box;
    padding: 84px 30px 80px 30px;

  }
}
@media screen and (max-width: 768px){
  .start-modal__container {
    box-sizing: border-box;
    padding: 64px 20px 60px 20px;

  }
}
