@import "../../assets/scss/variables";

.form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 50px;
  color: white;
  background-color: $blue-main;
  font-family: 'Circe';
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
}
