@import "src/assets/scss/variables";

.categories {
  display: flex;
  flex-direction: column;
}

.categories__header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.categories__title {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: $headline-gray;
}

.categories__add-button {
  margin: 0 0 0 auto;
  cursor: pointer;
  user-select: none;
}

.categories__select-all-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: $bluedark-main;
}

.categories__item {
  position: relative;
  display: flex;
  margin-bottom: 12px;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }
}

.categories__item-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 8, 80, 0.75);
}

.categories__item-input {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 8, 80, 0.75);
}

.categories__icon {
  margin-right: 10px;
}

.categories__item--active::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: -24px;
  background-color: $blue-main;
  cursor: auto;
}

.categories__item-actions {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.categories__item-actions > img {
  margin-left: 10px;
}

.categories__input {
  position: relative;
}


.categories__icons-list {
  position: absolute;
  top: 33px;
  left: 34px;
  display: flex;
  flex-direction: row;
  background-color: white;
  box-sizing: border-box;
  padding: 10px;
  z-index: 20;
}

.categories__icons-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}