@import "src/assets/scss/variables";

.tasks__item {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  box-sizing: border-box;
  padding: 14px 16px;
  cursor: pointer;
}

.tasks__circle-icon {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid #6F7D97;
}

.tasks-item__title {
  width: 268px;
  margin-left: 12px;
  font-family: 'Circe';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: $bluedark-main;
}

.tasks__line {
  width: 1px;
  height: 24px;
  margin: 0 24px;
  background-color: $lightgray-main;
}

.tasks__deadline-container {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 2px 11px;
  background: #F2F2F2;
  border-radius: 8px;
}

.tasks__deadline {
  margin-left: 10px;
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: $headline-gray;
}

.tasks__category {
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.tasks__category-name {
  margin-left: 6px;
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $headline-gray;
}

.tasks__tags-list {
  display: flex;
  align-items: center;
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $medium-gray;
}

.tasks__tags-item {
  margin-left: 8px;
}

.tasks__priority-icon {
  margin-left: auto;
}

@media screen and (max-width: 1270px) {
  .tasks__item {
    position: relative;
    flex-wrap: wrap;
  }
  .tasks__line {
    display: none;
  }

  .tasks__circle-icon {
    margin-bottom: 14px;
  }

  .tasks-item__title {
    width: calc(100% - 66px);
    margin-bottom: 14px;
  }

  .tasks__priority-icon {
    top: 33px;
    right: 0;
    position: absolute;
  }
}

@media screen and (max-width: 768px) {
  .tasks__item {
    box-shadow: 0 2px 7px 1px rgba(77, 78, 109, 0.1);
  }

  .tasks__deadline-wrapper {
    width: calc(100% - 16px);
    margin-bottom: 12px;
  }

  .tasks__deadline-container {
    width: fit-content;
  }

  .tasks__category {
    margin-left: 0;
  }
}
