.tasks__list {
  margin-top: 22px;
  box-sizing: border-box;
  padding: 16px;
  overflow: hidden;
}

@media screen and (max-width: 1270px) {
  .tasks__list {
    margin-top: 20px;
    padding: 0;
  }
}
@media screen and (max-width: 446px) {
  .tasks__list {
    margin-top: 0;
  }
}
