@import "../../assets/scss/variables";

.registration__input {
  width: 406px !important;
  height: 50px !important;
  border: 1px solid $lightgray-main !important;
  box-sizing: border-box !important;
  border-radius: 10px !important;
}