@import "../../assets/scss/variables";

.registration__agreement {
  font-family: 'Circe';
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.registration__agreement--gray {
  color: $lightgray-text;
}

.registration__agreement--blue {
  color: $blue-main;
}