@import "../../assets/scss/variables";

.start__begin-button {
  margin-top: 36px;
  padding: 8px 22px;
  color: white;
  font-family: 'Circe';
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  background-color: $blue-main;
}
.start__begin-button:hover {
  background-color: $blue-main--hover;
}
