@import "../../assets/scss/variables";

.start__title {
  min-width: 458px;
  font-family: 'Circe';
  font-weight: 800;
  font-size: 74px;
  line-height: 74px;
}

.start__title--blue {
  color: $bluedark-main;
}

.start__title--red {
  color: $red-main;
}