@import "assets/fonts/Circe/stylesheet";
@import "assets/scss/variables";

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style-type: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

input {
  border: none;
  outline:none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 10px;
}

.button--primary {
  color: white;
  background-color: $blue-main;
}
.button--primary:hover {
  background-color: $blue-main--hover;
}

.button--secondary {
  color: $blue-main;
  background-color: white;
  border: 1px solid $blue-main;
}
.button--secondary:hover {
  color: white;
  background-color: $blue-main;
}

