@import "assets/fonts/Circe/stylesheet";
@import "assets/scss/variables";

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style-type: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

input {
  border: none;
  outline:none;
}

img {
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 10px;

  &:disabled {
    cursor: auto;
  }
}

.button--primary {
  color: white;
  background-color: $blue-main;
}
.button--primary:not(:disabled):hover {
  background-color: $blue-main--hover;
}

.button--secondary {
  color: $blue-main;
  background-color: white;
  border: 1px solid $blue-main;
}
.button--secondary:not(:disabled):hover {
  color: white;
  background-color: $blue-main;
}

.button--cancel {
  color: $red-main;
  background-color: white;
  border: 1px solid $red-main;
}

.button--cancel:hover {
  color: white;
  background-color: $red-main;
}

.modal__close-icon {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.modal__container {
  position: relative;
  width: 100%;
  height: 100%;
}

.modal__back-button {
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 12px;
  border: 1px solid $lightgray-main;
  background-position: center center;
  background-repeat: no-repeat;

  &:hover {
    background-color: $blue-main;
  }
}

@media screen and (max-width: 768px){
  .modal__close-icon {
    top: 20px;
    right: 20px;
  }
}

