.user-modal__file-uploader {
  position: relative;
  margin-right: 16px;
}

.user-modal__file-uploader-input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.user-modal__file-uploader-button {
  padding: 8px 22px;
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .user-modal__file-uploader {
    position: relative;
    margin-right: 0;
  }

  .user-modal__file-uploader-button {
    padding: 8px 29.5px;
  }
}