@import "src/assets/scss/variables";

.registration {
  margin: 0 65px 0 32px;
  flex-grow: 1;
}

.registration__container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.registration__rules {
  position: absolute;
  top: 30px;
  left: -239px;
  box-sizing: border-box;
  padding: 15px 13px 13px 13px;
  width: 226px;
  height: 135.5px;
  border-radius: 10px;
  box-shadow: 3px 4px 15px rgba(44, 45, 67, 0.09);
  background-color: white;
  z-index: 999;
  font-family: 'Circe';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: $headline-gray;
}

.registration__rules::after {
  position: absolute;
  content: "";
  top: 18px;
  right: -10px;
  border-left: 10px solid white;
  border-right: none;
  border-bottom: 7px solid transparent;
  border-top: 7px solid transparent;
}

.registration__buttons {
  display: flex;
}
